body {
  padding-top: 5%;
  background: #c4f0ff;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#result {
  max-height: 600px;
}

.table {
  max-height: 300px;
}

.table-striped>tbody>tr:nth-child(even)>td {
  background-color: #b5ffbc;
}

.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #a2dec9;
}

.resultcss {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}